{% extends "app/base.html" %}




{% block body %}
<section class="why_us_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         
            <h1>Busqueda de turnos</h1>
            
            <form method="POST" action="">
            {% csrf_token %}
            <label for="turnos">Ingrese su DNI para buscar el turno</label>
            <input type="text" id="turno" name="dni" value="">
            <button type="submit" class="btn btn-primary">Buscar</button>
            
            </form>
        </h2>
      </div>

 </div>
 </section>   
 {% endblock %}  