{% extends "app/base.html" %}
{% load static %}
{% block body %}
<section class="slider_section ">
    <div class="slider-bg">
      <img src="{% static 'images/slider-bg.jpg' %}" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-lg-6">
                <div class="detail-box">
                  <h1>
                    Problemas con su PC<br>
                    Nosotros la reparamos
                  </h1>
                  <p>
                    Con nuestro servicio técnico especializado puede confiar su equipo a los mejores especialistas. Trabajos profesionales y garantizados
                  </p>
                  <a href="{% url 'turnos' %}">
                    Obtener un turno!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
      <div class="carousel_btn_box">
        <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>


<!-- service section -->

<section class="service_section layout_padding">
  <div class="service_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Nuestros <span>Servicios</span>
        </h2>
        <p>
        
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Reparación de computadoras
              </h5>
              <p>
                Servicio integral de diagnostico y reparación de computadoras
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Reemplazo de hardware
              </h5>
              <p>
                Si necesita reemplazar o actualizar componentes del hardware de su PC, puede contar con nosotros
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Recuperación de datos
              </h5>
              <p>
                Con nuestros profesionales podrá recuperar cualquier información dañada o borrada accidentalmente
              </p>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/s4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Actualización de software
              </h5>
              <p>
                Si necesita actualizar los programas de su PC o incluso el sistema operativo completo, puede contar con nosotros
              </p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="{% url 'turnos' %}">
          Obtener un turno
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}




