<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
    window.addEventListener("load",function(){
        
        var primero=document.getElementById("primero").innerText
        var ultimo=document.getElementById("ultimo").innerText
      
        document.getElementById("fecha").min=primero
        document.getElementById("fecha").max=ultimo
        
    })
    function validaciones(){
        let nombre=document.getElementById("nombre").value
        let dni=document.getElementById("dni").value
        let fecha=document.getElementById("fecha").value
       if(nombre=='' || dni=='' || fecha=='' ){
           alert("Debe completar todos los campos")
           return false
       } else{
           return true
       }
    }
  
    
    
    </script>
</head>
<body>
    {% extends "app/base.html" %}

{% block body %}
<h1>Turnos</h1>
 
<form method="POST" action="">
    {% csrf_token %}
    <label for="nombre">Nombre</label>
<input type="text" id="nombre" name="nombre"> <br>
<label for="dni">DNI</label>
<input type="text" id="dni" name="dni"> <br>
<label for="fecha">Seleccione la fecha</label>
    <input type="date"  id="fecha" name="fecha"
                 
    min="2021-01-01" max="2021-12-31">
    <br>
    <button type="submit" class="btn btn-primary" onclick=" return validaciones()">Ver horarios disponibles</button>
</form>

   <br>
 
 <div id="primero" style="opacity: 0.0;">
    {{primer_dia}}
 </div>  

 <div id="ultimo" style="opacity: 0.0;">
     {{ultimo_dia}}
 </div>
 {% for t in todos %}
 {{t}} <br>
{% endfor %}
    
  
   
   
{% endblock %}
</body>
</html>
