
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
  
    function validaciones(){
        let nombre=document.getElementById("nombre").value
        let dni=document.getElementById("dni").value
        let fecha=document.getElementById("fecha").value
       if(nombre=='' || dni=='' || fecha=='' ){
           alert("Debe completar todos los campos")
           return false
       } else{
           return true
       }
    }
  
    
    
    </script>
    <title>Reservar Turno</title>
</head>
<body>    
  {% extends "app/base.html" %}
    {% load static %}
    {% block body %}
    
<section class="about_section layout_padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Elección de turnos
              </h2>
            </div>
            
            <p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <label for="nombre">Nombre y apellido</label> <br>
                <input type="text" id="nombre" name="nombre"> <br>
                <label for="dni">DNI</label> <br>
                <input type="text" id="dni" name="dni"> <br>
                <label for="fecha">Seleccione la fecha</label> <br>
                    <input type="date"  id="fecha" name="fecha"
                                 
                    min="2021-01-01" max="2021-12-31">
                    <br>
                    
                    <button type="submit" class="btn btn-primary" onclick=" return validaciones()">Ver horarios disponibles</button>
                </form>
                
                   <br>              
              
                                 
                {% block javascript %}
                <script>
                   document.getElementById("fecha").min="{{primer_dia}}"
                   document.getElementById("fecha").max="{{ultimo_dia}}"
                </script>
                {% endblock %}
                   
                   
                
            </p>
           
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
 
    

  {% endblock %}
</body>
</html>
